<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="./assets/img/i1.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iusto excepturi molestiae, quasi, porro possimus, saepe facilis quod quibusdam laborum dignissimos culpa quis perspiciatis vero repudiandae veniam doloribus doloremque
                    voluptatem?</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>