<div class="container">
    <div class="row">
        <div class="col-xl-8 col-12">
            <img src="./assets/img/i2.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-xl-4 col-12">
            <div class="card-body">
                <h1 class="card-title">¿Qué <br> hacemos?</h1>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis iusto excepturi molestiae, quasi, porro possimus, saepe facilis quod quibusdam laborum dignissimos culpa quis perspiciatis vero repudiandae veniam doloribus doloremque
                    voluptatem?
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>