.jumbotron {
    padding-top: 8rem;
    height: 38rem;
    background-image: url(/assets/img/i1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0%;
    .containerjumbotron {
        background-color: rgba(190, 190, 190, 0.699);
        padding: 40px 0px;
    }
    .display-4 {
        font-size: 75px;
    }
    .btn {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}