<div class="container pt-5" id="portafolio">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Portafolio</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="card-columns">
        <div class="card">
            <img src="./assets/img/p4.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="card">
            <img src="./assets/img/p2.jpg" class="card-img-top border-0" alt="...">
        </div>
        <div class="card">
            <img src="./assets/img/p7.jpg" class="card-img-top border-0" alt="...">
        </div>
        <div class="card">
            <img src="./assets/img/p1.jpg" class="card-img-top border-0" alt="...">
        </div>
        <div class="card">
            <img src="./assets/img/p6.jpg" class="card-img-top border-0" alt="...">
        </div>
        <div class="card">
            <img src="./assets/img/p5.jpg" class="card-img-top border-0" alt="...">
        </div>
        <div class="card">
            <img src="./assets/img/p3.jpg" class="card-img-top border-0" alt="...">
        </div>
        <div class="card">
            <img src="./assets/img/p9.jpg" class="card-img-top border-0" alt="...">
        </div>
        <div class="card">
            <img src="./assets/img/p8.jpg" class="card-img-top border-0" alt="...">
        </div>
        <div class="card">
            <img src="./assets/img/p10.jpg" class="card-img-top border-0" alt="...">
        </div>
    </div>
</div>